<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="Your Name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Your name</title>
    <link rel="stylesheet" href="../static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1 id="webname">
            Jaehyun Im
        </h1>
        <nav>
            <a href = "../index.html">Home</a>
            <a href = "contact.html">Contact Me</a>
            <a href = "cv.html">CV</a>
            <a href = "fun.html">For Fun</a>
        </nav>
    </header>
    <div class = "main">
        <h2>Contact me</h2>
        <form>
            <label for="fname">Name:</label>
            <input type="text" id="name" name="name">

            <label for="email">Email:</label>
            <input type="text" id="email" name="email">

            <label for="comment">Comment:</label>
            <input type="text" id="comment" name="comment">
            <button>Submit</button>
        </form>
        <table>
            <tr>
                <th>School email</th>
                <th>Personal email</th>
                <th>Phone number</th>
            </tr>
            <tr>
                <td>jaehyuni@andrew.cmu.edu</td>
                <td>jaehyun0928@gmail.com</td>
                <td>678-995-1591</td>
            </tr>
        </table>
    </div>

    <footer> 
        &copy; 2025 Jaehyun Im. All rights reserved. 
    </footer>
    
</body>
</html>