<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="Your Name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Your name</title>
    <link rel="stylesheet" href="../static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script defer src="../static/script.js"></script>
</head>

<body>
    <header>
        <h1 id="webname">
            Jaehyun Im
        </h1>
        <nav>
            <a href = "../index.html">Home</a>
            <a href = "contact.html">Contact Me</a>
            <a href = "cv.html">CV</a>
            <a href = "fun.html">For Fun</a>
        </nav>
    </header>
    <div class = "main">
        <h2>Things I love to do for fun</h2>
        <button id = "SeeMore" onclick = "showList()">Click to see....</button>
        <ul id = "FavList">
            <li>Play guitar</li>
            <li>Play viola</li>
            <li>Run</li>
            <li>Read</li>
        </ul>
    </div>
    <footer>  
        <p id = "copyYear">Jaehyun Im. All rights reserved. &copy;</p>
    </footer>
    
</body>
</html>