<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">

    <script
    src="https://code.jquery.com/jquery-3.7.1.js"
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>

    <script defer src="../static/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<p id = "phoneAndMailing">Phone: 412-381-1665 | Mailing Address: 1220 Grandview Ave. Pittsburgh, PA 15211 | Fax Number: 412.381.1943</p>
<body id = "background">
    <header>
        <div id = "logoTop">
            <a href = "../index.html">
                <img id = "logo" src = "../static/DuqInclineLogo.png" width = "200" height = "300">
            </a>            
            <h1 id = "webname">
                <a href = "buyTickets.html">Buy Tickets</a>
            </h1>
        </div>
        <nav id = "nav">
            <a href = "../index.html">Home</a>
            <a href = "map.html">Map</a>
            <a href = "giftShop.html">Gift Shop</a>
            <a href = "mailingList.html">Contact Info</a>
            <a href = "buyTickets.html">Ticket Prices</a>
            <a href = "moreActivities.html">City Tours</a>
        </nav>
    </header>
    <div class = "main">
        <img src = "../static/duqphoto4.jpg" width = "200" height = "300">
        <h2>Buy tickets in the main building!</h2>
        <button id = "Idv">Fares (Individuals)</button>
        <table id = "IdvFares">
            <tr>
                <th>Age</th>
                <th>Each way</th>
                <th>Round Trip</th>
            </tr>
            <tr>
                <td>Adults (12-64)</td>
                <td>$2.50</td>
                <td>$5.00</td>
            </tr>
            <tr>
                <td>Children (6-11)</td>
                <td>$1.25</td>
                <td>$2.50</td>
            </tr>
            <tr>
                <td>Children under Age 5</td>
                <td>Free</td>
                <td>Free</td>
            </tr>
            <tr>
                <td>Seniors over 65</td>
                <td>Free with blue or yellow PRT card or Senior connect card</td>
                <td>Free with blue or yellow PRT card or Senior connect card</td>
            </tr>
        </table>

        <button id = "group">Group rates (Ten or more people)</button>
        <table id = "GroupFares">
            <tr>
                <th>Age</th>
                <th>Each way</th>
                <th>Round Trip</th>
            </tr>
            <tr>
                <td>Adult(12-64)</td>
                <td>$1.75</td>
                <td>$3.50</td>
            </tr>
            <tr>
                <td>Children(6-11)</td>
                <td>$1.00</td>
                <td>$1.00</td>
            </tr>
        </table>
        <p>
        <!-- <table>
            <tr>
                <th>Bus companies</th>
                <th>Schools</th>
                <th>Patch program</th>
            </tr>
        </table> -->
        </p>
    <p> **University of Pittsburgh Students Free, with proper I.D.<br>
          Carnegie Mellon Students Free, with proper I.D.<br>
          Chatham University Students Free, with proper I.D<br></p>
    </div>
    <div id = "field">
        <h2>  FIELD TRIP PROGRAM FOR STUDENTS and YOUTH GROUPS  </h2>
        <p>
        A free field trip program is available for students and youth groups of 
        ten or more daily - except Saturdays and Sundays after 12:00 noon due to
        weekend crowds and limited space. The program includes: <br>

        * A teacher's lesson packet for students' specific grade level <br>

        * A round trip ride on the Duquesne Incline <br>

        * A history of inclines in Pittsburgh<br>

        * A discussion about Pittsburgh's industrial past<br>

        * A visit to the machine room to observe the original hoisting equipment 
        in operation and learn about the engineers who built it<br>

        * A panoramic view of Downtown Pittsburgh and The North Shore from our 
        observation deck 400 feet above the three rivers<br>

        * A brief history of the French and Indian War from which the city arose
        </p>
    </div>
    <button onclick="goBack()">Go Back</button>
    <footer>
        &copy; 2025. All rights reserved
    </footer>
</body>
</html>