<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>

    <script
    src="https://code.jquery.com/jquery-3.7.1.js"
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<p id = "phoneAndMailing">Phone: 412-381-1665 | Mailing Address: 1220 Grandview Ave. Pittsburgh, PA 15211 | Fax Number: 412.381.1943</p>

<body id = "background">
    <div id = "logoTop">
        <a href = "../index.html">
            <img id = "logo" src = "../static/DuqInclineLogo.png" width = "200" height = "300">
        </a>          
        <h1 id = "webname">
            <a href = "giftShop.html">Gift Shop</a>
        </h1>
    </div>
    <nav id = "nav">
        <a href = "../index.html">Home</a>
        <a href = "map.html">Map</a>
        <a href = "giftShop.html">Gift Shop</a>
        <a href = "mailingList.html">Contact Info</a>
        <a href = "buyTickets.html">Ticket Prices</a>
        <a href = "moreActivities.html">City Tours</a>
    </nav>
    <p>Visit Our Gift Shop</p>
    <div id = "gift-container">
        <div>
            <img src = "../static/duqincornament.jpg">
            <p>
                Handmade wooden ornament for just $5.99
            </p>
        </div>
        <div>
            <img src = "../static/duqincShot.jpg">
            <p>
                Shot glass<br>
                1 for $4.99<br>
                2 for $7.99<br>
                3 for $10.99<br>
            </p>
        </div>
        <p>

        </p>
    </div>
    <button onclick="goBack()">Go Back</button>
    
    <footer>
        &copy; 2025. All rights reserved
    </footer>
</body>
</html>