<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>

    <script
    src="https://code.jquery.com/jquery-3.7.1.js"
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<p id = "phoneAndMailing">Phone: 412-381-1665 | Mailing Address: 1220 Grandview Ave. Pittsburgh, PA 15211 | Fax Number: 412.381.1943</p>
<body>
    <div id = "logoTop">
        <img id = "logo" src = "../static/DuqInclineLogo.png" width = "200" height = "300">
        <h1 id = "webname">
            <a href = "mailingList.html">Contact Info</a>
        </h1>
    </div>
    <nav id = "nav">
        <a href = "../index.html">Home</a>
        <a href = "map.html">Map</a>
        <a href = "giftShop.html">Gift Shop</a>
        <a href = "mailingList.html">Contact Info</a>
        <a href = "buyTickets.html">Buy Tickets</a>
        <a href = "moreActivities.html">More Activities</a>
    </nav>
    <p> Contact for WheelChair Accessibility:
        1220 Grandview Ave. Pittsburgh, PA 15211
    </p>
    <form id = "contact">
        <label for="fname">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>

        <label for="Phone Number">Phone Number:</label>
        <input type="text" id="Phone Number" name="comment" cols ="30" rows="10" pattern="^\d{10}$">

        <label for="Zip Code">Zip Code:</label>
        <input type="text" id="Zip" name="comment" cols ="30" rows="10" pattern="^\d{5}$">
        
        <label class="check">Check to receive messages
        <input type="checkbox" checked="checked" id = "check" >
        <span class="checkmark"></span></label>
        
        <input type = "submit" value = "Send" onclick="validate()" id = "button">
    </form>
    <p id = "validationMessage"></p>

    <footer>
        &copy; 2025. All rights reserved
    </footer>
</body>
</html>