.inter-custom{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  } */

#webname{
    padding-top: 100px;
    padding-right: 150px;
    font-weight: bold;
    font-size: 24px;
    font-family: "Inter", sans-serif;
}
#title{
    color: black;
    text-decoration: None;

}
h1 {
    font-size: 22px;
    font-family: "Inter", sans-serif;
}
h1 a{
    text-decoration: none;
    color: inherit;
    font-weight:inherit;
    font-family: "Inter", sans-serif;
}
h2 {
    font-size: 20px;
    font-family: "Inter", sans-serif;
}
h3{
    font-size: 18px;
    font-family: "Inter", sans-serif;
    text-align: center;
}
p{
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
}

nav {
    text-decoration: None;
    color: blue;
    font-family: "Inter", sans-serif;
    background-color:  #AAAE8E;
}
#nav a{
    margin-left: 10px;
    margin-right: 10px;
}
nav a:hover{
    font-weight: bold;
    color: red;
}
nav a:active{
    font-weight: bold;
    color: blue;
}
#phoneAndMailing{
    color: #e0e0e0;
    text-align: center;
}
#video{
    /* put the video at center */
    text-align: center;
}

body {
    background-color: #3A606E; 
}
footer{
    text-align: center;
    font-size: 12px;
    font-family: "Inter", sans-serif;
}
@keyframes rainbow{
    0% {color: red}
    15% {color: orange}
    30% {color: yellow}
    45% {color: green}
    60% {color: blue}
    75% {color: indigo}
    100% {color: violet}
}
#allYear{
    animation: rainbow 2s infinite alternate;
}

#readLess, #history{
    display: None;
}
/* Tables */
#Idv, #group {
    background-color: #828E82;
}
#IdvFares, #GroupFares{
    display: none;
    margin-left: auto;
    margin-right: auto;
    background-color: #aaae8e
}
table{
    width: 100%;
}
tr:nth-child(even){
    background-color:#E0E0E0;
}
#field{
    border: 5px solid;
    background-color: #607B7D;
}
th {
    background-color: #828E82;
}

#frontItems{
    text-align: center;
    font-size: 18px;
}

/* Photos */
#logoTop{
    background-color: #E0E0E0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

#logo{
    width: 250px;
    height: 250px;
}

.demo{
    height: auto;
    width: 100%;

}
/* Image Lightbox copied from W3Schools and Chatgpt, debugged by me */
.row > .column {
    padding: 0 8px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to eachother */
.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.column {
    flex: 1;
    max-width: 25%;
    text-align: center;
}
#photo1, #photo2, #photo3, #photo4{
    width: 100%;
    height: auto;
    image-rendering: crisp-edges;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}
.model-content img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background: rgba(0, 0, 0, 0.5);  
}
.prev{
    left:10px;
    border-radius: 3px 0 0 3px;
}
/* Position the "next button" to the right */
.next {
    right: 10px;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
}

.active,.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Image lightbox end */
#map, #parkingMap{
    border: 5px solid;
    height: auto;
    object-fit: cover;
    width: 100%;
    background-color: #607B7D
}
#gift-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;
    gap: 30px;
    img {
        width: 100%;
        max-width: 500px;
        height: auto;
        object-fit: cover;
        border: 5px solid #e0e0e0;
        gap: 5px;

        border-radius: 100%;
    }
    p{ 
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
#molly{
    display: grid;
    flex-wrap: wrap;
    border-radius: 100%;
    align-items: stretch;
    padding-bottom: 20px;
    padding-left: 20px;
}
#moreActivity{
    border: 5px solid black;
    background-color: #607B7D;
    display: grid;
    flex-wrap: nowrap;
}

form * { 
    display: block;
    margin: auto;
    text-align: center;
}
#contact{
    border: 5px solid black;
    background-color: #607B7D
}
label{
    padding-top: 10px;
    padding-bottom: 5px;
}
button{
    border-radius: 5px;
    background-color: #607b7d;
    font-family: "Inter";
    border: 3px solid black; 
    margin-bottom: 10px;
}
#validationMessage1,#validationMessage2,#validationMessage3,#validationMessage4{
    font-size: 8px;
    color: red;
}
#check{
    display: flex;
    align-items: center;
    border-radius: 0 3px 3px 0;
}
.frontCont{
    background-color: #607b7d;
    border: 5px solid black;
}
