<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="Your Name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Your name</title>
</head>

<body style = "font-family: Arial">
    <header>
        <h1>Jaehyun Im</h1>
        <nav>
            <a href = "../index.html">Home</a>
            <a href = "cv.html">CV</a>
            <a href = "contact.html">Contact Me</a>
            <a href = "fun.html">For Fun</a>
        </nav>
        <form>
            <label for="fname">Name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email">
            <label for="comment">Comment:</label><br>
            <input type="text" id="comment" name="comment">
        </form>
        <table>
            <tr>
                <th>School email</th>
                <th>Personal email</th>
                <th>Phone number</th>
            </tr>
            <tr>
                <td>jaehyuni@andrew.cmu.edu</td>
                <td>jaehyun0928@gmail.com</td>
                <td>678-995-1591</td>
            </tr>
        </table>
    </header>
    <div class = "main">
        <h2>"Contact me"</h2>
        <table>

        </table>
    </div>

    <img>src, alt

    <footer> 
        &copy; 2025 Jaehyun Im. All rights reserved. 
    </footer>
    
</body>
</html>